<div class="row">
    <% if @user_pokemon.errors.any? %>
        <p class="red">必須項目が入力されていません</p>
    <% end %>
    <%= form_for(user_pokemon, html: {class: "col s12"}) do |f| %>
        <div class="row">
            <div class="input-field col s12">
                <%= f.collection_select(:user_id, @users, :id, :name , {prompt: "なまえを選択"}) %>
                <%= f.label :user_id, "なまえ" %>
            </div>
            <div class="input-field col s12">
                <%= f.number_field :got_num %>
                <%= f.label :got_num, "タッチした数" %>
            </div>
            <div class="input-field col s12">
                <%= f.number_field :irochi_num %>
                <%= f.label :irochi_num, "イロチの数" %>
            </div>
            <div class="input-field col s12">
                <%= f.number_field :max_kotaichi %>
                <%= f.label :max_kotaichi, "マックス個体値" %>
            </div>
            <div class="input-field col s12">
                <%= f.text_area :memo, placeholder: "なんでもどーぞ！", class: "materialize-textarea"%>
                <%= f.label :memo, "メモ" %>
            </div>
            <% if @event_id.present? %>
                <%= f.hidden_field :event_id, value: @event_id %>
            <% else %>
                <%= f.hidden_field :event_id %>
            <% end %>
            <div class="col s12　offset-s6">
                <%= button_tag '登録する', class: 'btn waves-effect waves-light', type: 'button', onclick: 'submit();' %>
            </div>
        </div>
    <% end %>
</div>