<div class="row">
    <%= form_for(event, html: {class: "col s12"}) do |f| %>
        <div class="row">
            <div class="input-field col s12">
                <%= f.text_field :title, placeholder: "例　４月コミュニティデイ", autofocus: true %>
                <%= f.label :title, "イベント名" %>
            </div>
            <div class="input-field col s12">
                <%= f.text_field :pokemon, placeholder: "例　ケーシィ", autofocus: true %>
                <%= f.label :pokemon, "ポケモン名" %>
            </div>
            <div class="input-field col s12">
                <%= f.text_field :date, class: "datepicker" %>
                <%= f.label :date, "開催日" %>
            </div>
            <div class="input-field col s12">
                <%= f.text_area :description, placeholder: "なんでもどーぞ！", class: "materialize-textarea"%>
                <%= f.label :description, "イベント説明文" %>
            </div>
            <div class="col s12　offset-s6">
                <%= f.submit "登録する", class: "waves-effect waves-light btn"%>
            </div>
        </div>
    <% end %>
</div>