<div class="row">
    <% if @event.errors.any? %>
        <p class="red">必須項目が入力されていません</p>
    <% end %>
    <%= form_for(event, html: {class: "col s12"}) do |f| %>
        <div class="row">
            <div class="input-field col s12">
                <%= f.text_field :title, placeholder: "例　４月コミュニティデイ", autofocus: true %>
                <%= f.label :title, "イベント名" %>
            </div>
            <div class="input-field col s12">
                <%= f.text_field :pokemon, placeholder: "例　ケーシィ", autofocus: true %>
                <%= f.label :pokemon, "ポケモン名" %>
            </div>
            <div class="input-field col s12">
                <%= f.text_field :date, class: "datepicker" %>
                <%= f.label :date, "開催日" %>
            </div>
            <div class="input-field col s12">
                <%= f.text_area :description, placeholder: "なんでもどーぞ！", class: "materialize-textarea"%>
                <%= f.label :description, "イベント説明文" %>
            </div>
            <div class="col s12　offset-s6">
                <%= button_tag '登録する', class: 'btn waves-effect waves-light', type: 'button', onclick: 'submit();' %>
            </div>
        </div>
    <% end %>
</div>