<!DOCTYPE html>
<html>
  <head>
    <title>Irochilog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
    <div class="nav-wrapper">
      <%= link_to image_tag("irochilog_logo.png", class:"brand-logo", size: '170x55'), root_path %>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-hamburger"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">イベント一覧</a></li>
        <li><a href="#">コンプチェッカー(仮)</a></li>
        <li><a href="#">タイプ相性チェッカー(仮)</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">イベント一覧</a></li>
    <li><a href="#">コンプチェッカー(仮)</a></li>
    <li><a href="#">タイプ相性チェッカー(仮)</a></li>
  </ul>
  <body>
    <%= yield %>
  </body>
</html>
